{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
    <article>
        <h1>Product</h1>
        <span>
            <a href="{% url 'home' %}">Home</a> /
            <a href="{% url 'product' %}">Product</a>/
            {{product.name}}
        </span>
        <!--Begin row-->
        <div class="row">
            <!--Begin col-->
            <div class="column">
                <h2>
                    {{product.name}}
                </h2>
                <p>
                    {{product.description}}
                </p>
                <p>
                    Price: ${{product.price}}.00
                </p>
            </div>
            <!--End col-->
            <!--Begin col-->
            <div class="column">
                <img src="{{product.image}}.jpg" alt="{{ product.name}}" />
            </div>
            <!--End col-->
        </div>
        <!--End row-->
    </article>
</section>
{% endblock %}